<%- include('../parts/html-head') %> <%- include('../parts/html-navbar') %>
<div class="container">
  <div class="row">
    <div class="col">
      <form class="d-flex my-3">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          value="<%= {...query}.keyword%>"
        />
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item <%= page===1 ? 'disabled' : ''%>">
            <a class="page-link" href="?<%= new URLSearchParams({...query, page: 1}) %>">
              <i class="fa-solid fa-backward-fast"></i>
            </a>
          </li>
          <li class="page-item <%= page===1 ? 'disabled' : ''%>">
            <a class="page-link" href="?<%= new URLSearchParams({...query, page: page-1}) %>">
              <i class="fa-solid fa-backward"></i>
            </a>
          </li>
          <% for(let i=beginPage; i<=endPage; i++)if(i>=1 && i<=totalPages){
          const qs = {...query}; 
          qs.page = i; %>
          <li class="page-item <%= page===i ? 'active' : ''%>">
            <a class="page-link" href="?<%= new URLSearchParams(qs) %>"
              ><%= i %></a>
          </li>
          <%}%>
          <li class="page-item <%= page===totalPages ? 'disabled' : ''%>">
            <a class="page-link" href="?<%= new URLSearchParams({...query, page: page+1}) %>">
              <i class="fa-solid fa-forward"></i>
            </a>
          </li>
          <li class="page-item <%= page===totalPages ? 'disabled' : ''%>">
            <a class="page-link" href="?<%= new URLSearchParams({...query, page: totalPages}) %>">
              <i class="fa-solid fa-forward-fast"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fa-solid fa-group-arrows-rotate"></i></th>
            <th><i class="fa-solid fa-person-drowning"></i></th>
            <th>編號</th>
            <th>姓名</th>
            <th>電郵</th>
            <th>手機</th>
            <th>生日</th>
            <th>地址</th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows) { %>
          <tr>
            <td>
              <a href="#" onclick="deleteOne(event)"
                ><i class="fa-solid fa-group-arrows-rotate"></i
              ></a>
            </td>
            <td>
              <a href="/address-book/edit/<%= r.ab_id %>"
                ><i class="fa-solid fa-person-drowning"></i
              ></a>
            </td>
            <td><%= r.ab_id %></td>
            <td><%= r.name %></td>
            <td><%= r.email %></td>
            <td><%= r.mobile %></td>
            <td><%= r.birthday %></td>
            <td><%= r.address %></td>
          </tr>
          <% }%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../parts/html-script') %>
<script>


  // 刪除函式
  const deleteOne = (e) => {
    e.preventDefault();
    const tr = e.target.closest("tr");
    console.log(tr);

    if (tr) {
      const [td0, td1, td2] = tr.querySelectorAll("td");
      console.log(td0, td1, td2);
      if (confirm(`是否刪除編號為 ${td2.innerText} 的資料?`)) {
        fetch(`/address-book/api/${td2.innerText}`, {
          method: "DELETE",
        })
          .then((r) => r.json())
          .then((result) => {
            if (result.success) {
              location.reload(); // 重載頁面
            }
          });
      }
    }
  };
</script>
<%- include('../parts/html-tail') %>
